.c-dropdown
    color $color-gray-80
    // border 2px solid $color-gray-80
    width 25px
    height 25px
    display flex
    align-items center
    justify-content center
    border-radius: 50%
    cursor default
    &:hover
        color $color-secondary-blue
        // border 2px solid $color-secondary-blue
        cursor pointer
    &:focus
        color red
